* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;
    justify-content: center;
}

#headertitle {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 50px;
    width: 100%;
}

#headerdownload {
    font-size: 16px;
    width: 100%;
    a:link {
        color: aquamarine;
    }
    a:visited {
        color: aquamarine;
    }
    a:hover{
        color: aquamarine;
    }
    a:active{
        color: aquamarine;
    }

}


